//変数
$font-color__default:#777;
$accent-color:#FF1200;
$base-color:#FFFFFF;
$main-color:#E6E6E6;

$header-font:'Rock Salt', cursive;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;
$space_7l: 240px;
$space_10l:300px;

.c-form{
    width: 500px;
    margin: 100px auto;
}

.c-form__title{
    color: black;
    font-size: $font-size_xl;
}

form {
    overflow: hidden;
}
form>table{
    width: 100%;
}
form>table tr>td:first-child{
    width: 40%;
}

.c-form__error-msg{
    color: lightcoral;
}
input[type="text"],input[type="password"],input[type="email"],textarea{
    background: #f5f4f3;
    border: none;
    width: 100%;
}
input[type="text"],input[type="password"],input[type="email"] {
    color: #545454;
    height: 60px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    border: none;
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #3d3938;
    color: white;
    float: right;
    width: 150px;
    font-size: 1em;
}

input[type="submit"]:hover {
    background: #111;
    cursor: pointer;
}

input[type="submit"]:disabled{
    cursor: not-allowed;
    background: #8d8d8d;
}