//変数
$font-color__default:#777;
$accent-color:#FF1200;
$base-color:#FFFFFF;
$main-color:#E6E6E6;

$header-font:'Montserrat', sans-serif;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;
$space_7l: 240px;
$space_10l:300px;

.c-portfolio{
    width: 50%;
    margin: 0 auto;
}

.c-portfolio__ctn{
    margin-top: 100px;
    box-sizing: border-box;
    &>p{
        font-size: $font-size-default;
        opacity: 0.7;
        width: 80%;
        margin-left: 100px;
        margin-top: 15px;
        line-height: 2em;
        
    }
}

.c-portfolio__ctn__sub-title{
    font-size: $font-size-l;
    opacity: 0.7;
    width: 60%;
    margin-left: 50px;
    margin-top: 50px;
    line-height: 1.5em;
}

.c-portfolio__ctn__list{
    margin-left: 100px;
    margin-top: 15px;
}

.c-portfolio__btn-area{
    margin-top: 100px;
    margin-bottom: 200px;
}

.c-portfolio__ctn__list__ele{
    font-size: $font-size-default;
    opacity: 0.7;
    margin-bottom: 15px;
    
}